header
{
	background-image: url("2.jpg");
	padding: 25px;
	margin: 25px;
	border: 25px white;
	width: auto;
	font-family: 'Radio Space', arial;
	font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
}

footer
{
	background-image: url("2.jpg");
	padding: 25px;
	margin: 25px;
	border: 25px white;
	width: auto;
	font-family: 'Radio Space', arial;
	font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
}

.slideshow
{
	margin: auto;
    width: 100%;
    border: rgba(72,72,72,0.5);
	
}
 
.dropdown ul {
  list-style: none;
  background-color:rgba(72,72,72,0.1);
  text-align: center;
  padding: 0;
  margin: 0;
}
.dropdown li {
  font-family: 'Oswald', sans-serif;
  font-size: .5em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.dropdown a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.dropdown a:hover {
  background-color: #005f5f;
}
 
.dropdown a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
  .dropdown li {
    display: inline-block;
    margin-right: -4px;
  }

body 
{
	color: white;
    text-align: center;
	background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:cover;
}

#form-customerContainer {
	font-family: 'Radio Space', arial;
	background-color:rgba(72,72,72,0.4);
	font-size: 20px;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	overflow-x:auto;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
    margin-top:30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
   
}

.feedback-input {
	text-align: center;
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.button {
	
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

